:root {
  --brand-colour: #f52f2f;

  --fg-primary: #232323;
  --fg-secondary: #777;
  --fg-accent: #fff;

  --bg-primary: #fff;
  --bg-secondary: #ededed;
  --bg-tertiary: lighten($bg-secondary, 3%);
  --bg-accent: $brand-colour;

  --aria-highlight: #32acfb;

  --t: transparent;
}

body {
  overflow: hidden;
}

body.dark-theme {
  --fg-primary: #ededed;
  --fg-secondary: #888;

  --bg-primary: #1a1f2a;
  --bg-secondary: #2c313c;
  --bg-tertiary: darken($bg-secondary, 3%);
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.flex-column {
  display: flex;
  width: 0;
  flex-direction: column;
  flex-grow: 1;
}

.Sidebar {
  flex: 0 0 360px;
  height: 100vh;
  background-color: var(--bg-tertiary);
  overflow-y: auto;
}

.Sidebar-container {
  padding: 15px 0;
  margin: 0;
}

.Sidebar-empty-heading {
  line-height: 100vh;
  text-align: center;
  margin: 0;
  opacity: .3;
}

.Sidebar-item {
  display: flex;
  padding: 5px 20px;
  margin: 0;
  opacity: .7;
  cursor: default;
}

.Sidebar-item:hover {
  opacity: 1;
}

.Sidebar-item__selected {
  background-color: var(--bg-secondary);
  opacity: 1;
}

.Sidebar-item .Renameable-label {
  user-select: none;
}

.Sidebar-item .Renameable-label:hover {
  text-decoration: underline;
  text-decoration-color: var(--fg-secondary);
}

.Sidebar-item .Renameable-input {
  height: 1.5em;
  min-width: 0;
  margin: 0;
  margin-top: 2px;
  padding: 0;
}

.Sidebar-item .CloseBtn {
  visibility: hidden;
  margin-left: auto;
}

.Sidebar-item:hover .CloseBtn {
  visibility: visible;
}

.TabBar {
  display: flex;
  height: 30px;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
  margin: 0;
}

.TabBar-tab {
  display: flex;
  flex: 1;
  box-sizing: border-box;
  max-width: 216px;
  background-color: var(--bg-primary);
  list-style: none;
  padding: 0;
  padding-left: 10px;
  padding-bottom: 2px;
  border-top: 2px solid var(--bg-primary);
  border-right: 1px solid #ccc;
  margin-bottom: 0;
  overflow: hidden;
  cursor: default;
  user-select: none;
}

.TabBar-tab .Renameable-label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.TabBar-tab__selected .Renameable-label:hover {
  text-decoration: underline;
  text-decoration-color: var(--fg-secondary);
}

.TabBar-tab .Renameable-input {
  height: 1.5em;
  min-width: 0;
  margin: 0;
  margin-top: 2px;
  padding: 0;
}

.TabBar-tab:hover {
  border-top-color: #ccc;
}

.TabBar-tab__selected,
.TabBar-tab__selected:hover {
  border-top-color: var(--brand-colour);
}

.TabBar-tab__temp {
  font-style: italic;
}

.TabBar .CloseBtn {
  padding: 0 5px;
  margin-left: auto;
}

.TabBar-add {
  flex: 0 0 30px;
  justify-content: center;
  padding-left: 0;
  border-right: 0;
}

#editor-area,
#preview-area {
  box-sizing: border-box;
  flex: 1;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}
#handlebar {
  background-color: var(--fg-secondary);
  flex: auto;
  max-width: 5px;
}
#actions {
  height: 25px;
  background-color: var(--bg-secondary);
  border-bottom: 1px solid var(--fg-secondary);
}
.separator {
  border-right: 1px solid var(--fg-secondary);
  margin: 0 5px;
}
#editor,
.CodeMirror {
  width: 100%;
  min-height: calc(100vh - 26px);
  max-height: calc(100vh - 26px);
}
#preview-area {
  padding: 5px;
  overflow: auto;
}

#actions button {
  padding: 0 .2em;
  min-width: 20px;
  width: auto;
  height: auto;
  font: inherit;
  border: none;
  margin: 0;
  color: inherit;
  line-height: 20px;
  text-transform: none;
}
#actions button:hover {
  color: var(--bg-primary);
  background-color: var(--fg-primary);
}
#converter {
  height: auto;
  padding: 0;
}
#actions [action="bold"] {
  font-weight: bold;
}
#actions [action="italic"] {
  font-style: italic;
}
#actions [action="strike"] {
  text-decoration: line-through;
}

#messages {
  position: sticky;
  top: 0;
  color: var(--fg-primary);
  background-color: var(--bg-secondary);
  padding: 5px 10px;
  z-index: 100;
}
#messages:empty {
  display: none;
}
#messages[data-style='error'] {
  background-color: #f68696;
}
#messages[data-style='info'] {
  background-color: #bedbf8;
}
#messages[data-style='success'] {
  background-color: #bff8be;
}
#messages[data-style='warning'] {
  background-color: #f8e9be;
}
#messages-close {
  float: right;
  color: var(--fg-primary);
  text-decoration: underline;
  cursor: pointer;
}
#messages-close::before {
  content: 'Close';
}
