body {
    font: 1rem/1.5 sans-serif;
}
main {
    display: flex;
    flex-direction: row;
}
#editor-area,
#preview-area {
    box-sizing: border-box;
    flex: 1;
    min-height: 100vh;
}
#handlebar {
    background-color: grey;
    flex: auto;
    max-width: 5px;
}
#actions {
    height: 25px;
    border-bottom: 1px solid grey;
}
.separator {
    border-right: 1px solid grey;
    margin: 0 5px;
}
#editor,
.CodeMirror {
    width: 100%;
    min-height: calc(100vh - 26px);
    max-height: calc(100vh - 26px);
}
#preview-area {
    padding: 5px;
}
